@model SampleQuoteApi.Models.CalculateQuoteViewModel

@{
    ViewData["Title"] = "Apply Now";

}

<div class="text-center">
    <h1 class="display-4">Your quote</h1>
    <div>
        <div>Your information</div><a>Edit</a>
        <div>Name</div><div>@Model.Name</div>
        <div>Mobile</div><div>@Model.Mobile</div>
        <div>Email</div><div>@Model.Email</div>
    </div>
    <div>
        <div>Finance details</div><a>Edit</a>
        <div>Finance amount</div><div>$@Model.FinancialAmount</div>
        <div>--------------</div><div>over 24 months</div>
        <div>Repayments from</div><div>$@Model.Repayments</div>
        <div>---------------</div><div>Weekly</div>
    </div>
    <input type="submit" value="Apply now"/>
    <p>Quote does not affect your credit score</p>
</div>
