@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome SampleQuoteApi</h1>
        <div>Experiment with technical stack</div>
        <div>.Net Core MVC</div>
        <div>Sqlite Entity Framework Core</div>
    </div>
