@model SampleQuoteApi.Models.QuoteFormModel

@{
    ViewData["Title"] = "Quote";

}

<div class="text-center">
    <h1 class="display-4">Quote Calculator</h1>
    <form action="CalculateQuote" method="post">
        <div>
            <div id="slider"></div>
        </div>
        <div><p>term slider here</p></div>
        <div>
            <div>Title</div>
            <div>
                <div>
                    <select id="Title" name="Title">
                        <option>Mr.</option>
                        <option>Ms.</option>
                    </select>
                </div>
                <div>
                    <label for="FirstName">First Name</label>
                    <input placeholder="First name" type="text" id="FirstName" name="FirstName" value="@Model.FirstName">
                </div>
                <div>
                    <label for="LastName">Last Name</label>
                    <input placeholder="Last name" type="text" id="LastName" name="LastName" value="@Model.LastName">
                </div>
            </div>
            <div>
                <div>
                    <label for="LastName">Your email</label>
                    <input placeholder="Your email" type="text" id="Email" name="Email" value="@Model.Email">
                </div>
                <div>
                    <label for="LastName">Mobile number</label>
                    <input placeholder="Mobile number" type="text" id="Mobile" name="Mobile" value="@Model.Mobile">
                </div>
            </div>
        </div>
        <input type="submit" value="Calculate quote" />
        <p>Quote does not affect your credit score</p>
    </form>
</div>
