@model SampleQuoteApi.Models.QuoteFormModel

@{
    ViewData["Title"] = "Quote";
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="text-secondary margin-bottom text-center">Quote Calculator</h1>
            <form action="CalculateQuote" method="post">
                <div class="form-group">
                    <div class="slider-wrapper green">
                        <input name="AmountRequired" class="amount-input-range"
                               data-slider-id="borrowSlider"
                               type="text"
                               data-slider-min="2100"
                               data-slider-max="15000"
                               data-slider-tooltip="always"
                               data-slider-step="1"
                               data-slider-value="5000" />
                    </div>
                </div>
                <div class="form-row margin-bottom">
                    <div class="form-group col-md-2 text-secondary text-left small"><span><strong>$2,100</strong></span></div>
                    <div class="form-group col-md-8 text-secondary text-center small"><span><strong>How much do you need?</strong></span></div>
                    <div class="form-group col-md-2 text-secondary text-right small"><span><strong>$15,000</strong></span></div>
                </div>
                <div class="form-group">
                    <div class="slider-wrapper green">
                        <input name="Term" class="term-input-range"
                               data-slider-id="borrowSlider"
                               type="text"
                               data-slider-min="3"
                               data-slider-max="36"
                               data-slider-tooltip="always"
                               data-slider-step="1"
                               data-slider-value="15" />
                    </div>
                </div>
                <div class="form-row margin-bottom">
                    <div class="form-group col-md-2 text-secondary text-left small"><span><strong>3</strong></span></div>
                    <div class="form-group col-md-8 text-secondary text-center small"><span><strong>For how long?</strong></span></div>
                    <div class="form-group col-md-2 text-secondary text-right small"><span><strong>36</strong></span></div>
                </div>
                <div class="form-row"><span class="slider-color">Title</span></div>
                <div class="form-row margin-bottom">
                    <div class="form-group col-md-2 height">
                        <select id="title" name="Title" class="text-secondary bottom-border">
                            <option selected>Mr</option>
                            <option>Ms</option>
                        </select>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4 height">
                        <input class="bottom-border text-left" placeholder="First name" type="text" id="firstName" name="FirstName" value="@Model.FirstName" required>
                        <div class="invalid-feedback">This field is required.</div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4 height">
                        <input class="bottom-border text-left" placeholder="Last name" type="text" id="lastName" name="LastName" value="@Model.LastName" required>
                        <div class="invalid-feedback">This field is required.</div>
                    </div>
                </div>
                <div class="form-row margin-bottom align-bottom justify-content-md-center">
                    <div class="col-md-6">
                        <input class="bottom-border text-left" placeholder="Your email" type="text" id="email" name="Email" value="@Model.Email" required>
                        <div class="invalid-feedback">This field is required.</div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <input class="bottom-border text-left" placeholder="Mobile number" type="text" id="mobile" name="Mobile" value="@Model.Mobile" required>
                        <div class="invalid-feedback">This field is required.</div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="custom-button">Calculate quote</button>
                </div>
                <div class="form-group text-center small"><span class="text-secondary">Quote does not affect your credit score</span></div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>