@model SampleApi1.Models.CalculateQuoteViewModel

@{
    ViewData["Title"] = "Apply Now";

}

<div class="text-center">
    <h1 class="display-4">Your quote</h1>
    <div>
        <div>Your information</div><div>Edit</div>
        <div>Name</div><div>todo</div>
        <div>Mobile</div><div>todo</div>
        <div>Email</div><div>todo</div>
    </div>
    <div>
        <div>Finance details</div><div>Edit</div>
        <div>Finance amount</div><div>todo</div>
        <div>--------------</div><div>over 24 months</div>
        <div>Repayments from</div><div>todo</div>
        <div>---------------</div><div>Weekly</div>
    </div>
    <input type="submit" value="Apply now" />
    <p>Quote does not affect your credit score</p>
</div>
